{% load staticfiles %}

<html>
  <head>
    <link href="{% static 'music_playlist/style.css' %}" type="text/css" rel="stylesheet" />
  </head>
  <body>

    <div id="music-playlist">
      <div id="music-search">
	<form action="/music_playlist/add_song/" method="post">
	  {% csrf_token %}
	  <input type="text" name="add_song" id="add_song_box" class="add_song_box_c"/>
	</form>
      </div>
      {% if song_list %}
      <ul>
	{% for song in song_list %}
	<li class="songlet">
	  
	  <div class="voting">
	    <form action="/music_playlist/up_vote/{{ song.id }}/" method="post">
	    {% csrf_token %}
	    <button name="up_vote" value="+">+</button>
	    </form>
	    <span>{{ song.show_song_votes }}</span>
	    <form action="/music_playlist/down_vote/{{ song.id }}/" method="post">
	      {% csrf_token %}
	      <button name="up_vote" value="+">-</button>
	    </form>
	  </div>
	  <div class="album-cover">
	    album cover
	  </div>
	  
	  <div class="song-details">
	    <div class="song-name">Song : {{ song.song_name }}</div>
	    <div class="artist-name">Artist : {{ song.artist_name }}</div>
	    <div class="song-from">From : {{ song.song_url }}</div>
	  </div>

	    <audio class="song" src="{{ song.media_url }}" controls > No mp3 support </audio>
	</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No songs are available, Need to add</p>
    {% endif %}

    </div>
  </body>
</html>
