/* Box model */
#music-playlist {
   margin : 10px auto 10px auto;
   width : 700px;
   border: 1px solid #333333;
   }

#music-search {
    margin : 10px auto 10px auto;
    width : 500px ;
   border: 1px solid #333333;
    }

.add_song_box_c {
    width: 100%;
}

.songlet {
   width : 618px;
   border: 1px solid #333333;
}

.song {
   width : 100%;
   clear: both;
   margin-top : 5px;
   border: 1px solid #333333;
 }


.voting {
    height : 100px;
    width : 50px;
    float: left;
    border: 1px solid #333333;
}

button {
    display : block;
    font-size : 1em;
    font-weight: bold;
    border: 0px;
    width: 20px;
}

.voting-up {
    height: 28px;
    border: 1px solid #333333;
    }

.voting-down {
    height:28px;
    border: 1px solid #333333;
    }

.voting-count {
    height:38px;
    border: 1px solid #333333;
    }

.album-cover {
    width : 100px;
    height : 100px;
    float: left;
    margin-left : 2px;
    border: 1px solid #333333;
}

.song-details {
    height:100px;
    float: left;
    width: 457px;;
    margin-left : 2px;
    border: 1px solid #333333;
}

.audio-player {
    width: 100%;
    }

/* Styling */
.songlet {
    list-style-type : none
    }

ul {
    list-style-type : none
    }


.song-name {
    font-size : medium;
    border: 1px solid #333333;
    height: 38px;
}

.artist-name {
    font-size : small;
    height: 28px;
    border: 1px solid #333333;
    }

